@media screen and (max-width:600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .banner{
        max-width: 90vh;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .banner-head{
        font-size: 22px;
        font-weight: 800px;
        color: white;
        margin-bottom: 24px;
    }
    .banner-descripton{
        color: white;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 48px;
    }
    /* #places{
        display: flex;
        flex-direction: column;
    } */
    .banner-options{
        display: flex;
        flex-direction: column;
        max-width: 90vh;
    }
    .banner-div{
        /* max-width: 70vh; */
    }
}