@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-primary{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 16px 35px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}
.banner{
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png) ;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    /* padding-top:106px ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-head{
    font-size: 64px;
    font-weight: 800px;
    color: white;
    margin-bottom: 24px;
}
.banner-descripton{
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}
.banner-options{
    /* display: inline-flex; */
    /* display: block; */
    padding: 16px;
    max-width: 70%;
    /* align-items: flex-start; */
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.banner-div{
    display: flex;
    justify-content: center;
}
.search-btn{
    
    font-size: 16px;
    font-weight: 700;
    padding: 16px 16px;
    border-radius: 8px;
background: #FFF;
    border: none;
}
#places{
    font-size: 16px;
    font-weight: 700;
    padding: 16px 16px;
    border-radius: 8px;
background: #FFF;
    border: none;
    color: rgba(19, 19, 24, 0.50);


}


/* main part style */

.our-popular-tours{
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.our-popular-tours-text{
    max-width: 48%;
    color: rgba(19, 19, 24, 0.70);
}
.our-popular-tours-text *{
    margin-top: 35px;
}
.our-popular-tours-text> h2{
    color: black;
    font-size: 40px;
    font-weight: 800;
}
.our-popular-tours-img{
    max-width: 48%;
}



/* destination part styles */
.destination{
    max-width: 80%;
    margin: 100px auto;
}

.destination-text >h1{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.destination-text >p {
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    margin-top: 24px;
    margin-bottom: 48PX;
}
.img-container-one{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.img-container-two{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 25px;
}
.img-container-three{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin-top: 25px;
}
.Maldives{
    position: relative;
}
.Maldives > p{
    color: white;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 130px;
    left: 219px;
}
.indonesia{
    position: relative;
}
.indonesia > p{
    color: white;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 130px;
    left: 219px;
}
.Srilanka{
    position: relative;
}
.Srilanka > p{
    color: white;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 130px;
    left: 140px;
}
.North-America{
    position: relative;
}
.North-America > p{
    color: white;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 130px;
    left: 140px;
}
.Kashmir{
    position: relative;
}
.Kashmir > p{
    color: white;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 130px;
    left: 85px;
}
.bangladesh{
    position: relative;
}
.bangladesh > p{
    color: white;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 130px;
    left: 160px;
}
.Bandarban{
    position: relative;
}
.Bandarban> p{
    color: white;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 130px;
    left: 245px;
}
/* destination styles end here */


/* chose section style start here */
.Choose{
    max-width: 80%;
    margin: 100px auto;
    /* text-align: center; */
    
}
.choose-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.choose-heading > h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.choose-heading > p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}
.choose-sub-section-one > h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
}
.choose-sub-section-one > p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.choose-sub-section-two > h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
}
.choose-sub-section-two > p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.choose-section{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.choose-sub-section-one{
    max-width: 48%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}
.choose-sub-section-two{
    max-width: 48%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}
.choose-sub-section-three{
    max-width: 48%;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;

}
.choose-sub-section-three > h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 16px;
}
.choose-sub-section-three> p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.last-choose-section{
    width: 100%;
    margin: 24px auto;
    display: flex;
    justify-content: center;

}

/* newsletter styles */

.newsletter{
    max-width: 80%;
    margin: 100px auto 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.newsletter-text{
    border-radius: 16px;
border: 1px solid #FF5400;
    padding: 40px;
    max-width: 40%;
    
}
.newsletter-text > h3{
    font-size: 24px;
    font-weight: 800;
    margin-top: 40px;
    margin-bottom: 16px;
}
.newsletter-text > p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin: 8px auto;
    padding-bottom: 10px;
    border-bottom: 2px solid  rgba(19, 19, 24, 0.10);;
}
.newsletter-img{
    max-width: 58%;
}
.newsletter-inputs{
    margin-top: 16px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.input-text{
    padding: 16px 20px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}
.input-email{
    padding: 16px 20px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}
.newsletter-img{
    position: relative;
}
.save{
    position: absolute;
    bottom: 45px;
    right: 10px;
    border-radius: 16px;
    background: #FF5400;
    color: white;
    padding: 20px;
    text-align: center;
    transform: rotate(-19.628deg);
}
.save > h2{
    font-size: 32px;
    font-weight: 800;
}
.save > p{
    font-size: 24px;
    font-weight: 400;
}


/* footer part start */
    .footer{
        max-width: 100%;
        background: rgba(19, 19, 24, 0.05);
        text-align: center;
        padding: 110px;
    }
    .footer-parent{
        max-width: 70%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 50px;
        border-bottom: 2px solid rgba(19, 19, 24, 0.10);;

    }
    .footer-head{
        /* max-width: 40%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-head > img{
        max-width: 40px;
    }
    .footer-head > h2{
        font-size: 32px;
        font: 800;
    }
    .footer-parent > p{
        font-size: 16px;
        font-weight: 400;
        color: #5A5A5D;
        margin-top: 15px;
        margin-bottom: 33px;
        line-height: 26px;
    }
    .copyright{
        font-size: 16px;
        font-weight: 300;
        color: #131318;
        margin-top: 50px;
    }